* {
    margin: 0;
    padding: 0;
}

root {
    --menu-color: rgba(0, 7, 21, 0.738);
    --side-menu-color: rgba(0, 7, 21, 0.5);
    --icon-color: 'white';
    --tooltip-color: 'black';
    --text-color: 'white';
    --window-color: #000000ba;
}

body {
    background: rgb(199, 199, 199);
    margin: 0;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#canvas {
    cursor: crosshair;
}

#welcome {
    position: relative;
    /*  */
    display: none;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 10px;
    width: 350px;
    height: 450px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    top: 300px;
    white-space: pre-wrap;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background: rgba(0, 7, 21, 0.738);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    border-radius: 10px;
    z-index: 10;
}

#welcome button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
}

#welcome ul {
    display: grid;
    gap: 10px;
    padding-left: 25px;
}

#tooltip {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    background-color: var(--tooltip-color);
    border-radius: 7px;
    z-index: 10;

    transition-property: left, width;
    transition-duration: .3s;
}

#tooltip-text {
    position: relative;
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    z-index: 11;

    transition-property: left, width;
    transition-duration: .3s;
}

#tooltip-tail {
    position: absolute;
    margin: 0 auto;
    width: 25px;
    height: 25px;
    margin-top: -14px;
    background-color: var(--tooltip-color);
    transform: rotate(45deg);

    transition-property: left;
    transition-duration: .3s;
}

#menu-canvas {
    outline: none;
    z-index: 4;
}

#menu-background-left,  #menu-background-right{
    position: fixed;
    top: 0;
    --menu-width: 300px;
    width: var(--menu-width);
    height: 100vh;
    background: var(--side-menu-color);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.375);
    backdrop-filter: blur(6px);
    z-index: 2;
}

#menu-background-left {
    left: 0;
}

#menu-background-right {
    color: white;
    right: 0;
}

#menu-hide-left, #menu-hide-right {
    position: absolute;
    top: calc(50% - var(--menu-close-height)/2);
    color :white;
    width: 17px;
    text-align: left;
    --menu-close-height: 45px;
    height: var(--menu-close-height);
    background-color: #2d2d2d;
    z-index: 5;
}

#menu-hide-left {
    left: 300px;
    padding-left: 3px;
    border-radius: 0 10px 10px 0;
}

#menu-hide-right {
    right: 300px;
    padding-left: 5px;
    border-radius: 10px 0 0 10px;
}

#action-menu {
    --action-width: 340px;
    position: fixed; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 6px;
    left: calc(50% - var(--action-width)/2);
    width: var(--action-width);
    height: 40px;
    color: white;
    background: var(--menu-color);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    border-radius: 10px;
    z-index: 5;

    box-shadow:
        0px 2px 2.2px rgba(0, 0, 0, 0.02),
        0px 4.7px 5.3px rgba(0, 0, 0, 0.028),
        0px 8.9px 10px rgba(0, 0, 0, 0.035),
        0px 15.9px 17.9px rgba(0, 0, 0, 0.042),
        0px 29.7px 33.4px rgba(0, 0, 0, 0.05),
        0px 71px 80px rgba(0, 0, 0, 0.07)
    ;
}

#undo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 40px;
}

#zoomlevel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    font-size: 1.1em;
    width: 100px;
    height: 40px;
    border-left: solid 2px;
    border-right: solid 2px;
    border-color: rgb(93, 93, 93);
    z-index: 5;
}

#zoom-out, #select, #save, #settings{
    border-left: solid 2px;
    border-color: rgb(93, 93, 93);
}

#zoom-in, #zoom-out, #select, #save{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    z-index: 5;
}

#settings {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 40px;
    z-index: 5;
}

#settings-menu {
    position: absolute;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: center;
    width: 41px;
    height: 0px;
    color: white;
    font-family: 'Roboto', sans-serif;
    gap: 4px;
    font-size: 14px;
    padding: 15px;
    background: var(--menu-color);
    /* background-color: rgb(0, 0, 0); */
    border-radius: 7px;
    pointer-events: none;
    z-index: 10;

    box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07)
;

    transition-property: width, height, left, padding;
    transition-duration: .25s, .3s, .25s, .25s;
    transition-delay: .0s, .2s, .0s, 1s;
}

#settings-menu-arrow {
    display: flex;
    visibility: hidden;
    position: absolute;
    top: 40px;
    width: 0; 
    height: 0; 
    margin: center;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    
    border-bottom: 10px solid var(--menu-color);
  }

.settings-menu-container {
    display: flex;
    color: var(--text-color);
    justify-content: flex-start;
    gap: 10px;
}


/* FIXME: generate dynamically */
#settings-1, #settings-2, #settings-3, #settings-4 {
    display: flex;
    visibility: hidden;
    opacity: 0;
    pointer-events: auto;
    -webkit-transition: opacity .05s linear;
    -moz-transition: opacity .05s linear;
    -ms-transition: opacity .05s linear;
    -o-transition: opacity .05s linear;
    transition: opacity .05s linear;
}

#settings-1 {
    visibility: hidden;
}

#settings-2 {
    visibility: hidden;
}

#settings-3 {
    visibility: hidden;
}

#settings-4 {
    visibility: hidden;
}

#action-menu > button:active {
    background-color: rgba(35, 130, 255, 0.709)
}

.action-menu-item-highlight {
    background-color: rgba(35, 130, 255, 0.709)
}

#settings:active {
    border-radius: 0 10px 10px 0;
}

#undo:active {
    border-radius: 10px 0 0 10px;
}

.menu-item-highlight {
    border: 1px dashed rgba(255, 255, 255, 0.276);
    background-color: rgba(35, 130, 255, 0.709);
    border-radius: 10px;
}

.menu-item-unhighlight {
    border: 2px solid #A2A2A2;
    background-color: #8a8a8a17;
    border-radius: 10px;
}

#form-container {
    --width: 350px;
    --height: 150px;
    position: fixed;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    top: calc(50% - var(--height)/2);
    left: calc(50% - var(--width)/2);
    width: var(--width);
    height: var(--height);
    gap: 2px;
    border: .6px double #858387d6;
    box-shadow: 0 0 0 .1px rgba(0, 0, 0, 0.779);
    border-radius: 7px;
    background-color: var(--window-color);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    z-index: 15;

    box-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
        100px 100px 80px rgba(0, 0, 0, 0.07)
    ;
}

#form-container:focus {
    outline: 5px solid rgba(35, 130, 255, 0.709);
}

/* close form */
#form-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    background-color: white;
    font-size: 25px;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

#form-close:hover {
    background-color: rgba(255, 255, 255, 0.824);
    color: rgb(0, 0, 0);
}

#form-close:active {
    background-color: rgba(35, 130, 255, 0.709);
    color: white;
}


#rotate-left, #rotate-right {
    position: fixed;
    opacity: 80%;
    border-radius: 100%;
    z-index: 1;
}

#rotate-left {
    transform: rotate(-90deg);
}

.unselectable {
    pointer-events: none;
}

.hide {
    visibility: hidden;
    pointer-events: none;
}

.a {
    fill:none;
}

.a, .b {
    stroke:#000;stroke-miterlimit:10;stroke-width:4px;
}

.b {
    fill:#fff;
}

/* animation for menu hide */
.animated {
    transition-property: left, right;
    transition-duration: .4s;
  }





  /* right click stuff */
#right-click{
    position:absolute;
    display: flex;
    visibility: hidden;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 2px;
    z-index:100;

    box-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.011),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.016),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.02),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.024),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.029),
        100px 100px 80px rgba(0, 0, 0, 0.04)
  ;
}

#right-click-secondary{
    position:absolute;
    display: flex;
    visibility: hidden;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 2px;
    z-index:101;

    box-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.011),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.016),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.02),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.024),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.029),
        100px 100px 80px rgba(0, 0, 0, 0.04)
  ;
}

#options{
    display: flex;
    /* width: 150px;
    height: 20px; */
}

menu {
    left:0px;
    top:0px;
    padding: 5px;
    margin:0;
    border: .6px double #858387d6;
    box-shadow: 0 0 0 .1px rgba(0, 0, 0, 0.779);
    border-radius: 7px;
    background-color: #2b2b2baa;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    font-weight:normal;
    white-space:nowrap;
}

.options:hover, .options-secondary:hover {
    background-color: #2289ffe7;
}

.options {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #F0F0F0;
    flex: 0,1,auto;
    text-align: left;
    padding-left: 10px;
    font-size: 12px;
    border-radius: 3px;
    width: 150px;
    height: 20px;
}

#options {
    display: flex;
    justify-content: space-between;
}

#set-clock {
    display: none;
}

.chevron {
    padding-right: 5px;
    pointer-events: none;
}

/* horizontal line */
hr {
    height: 1px;
    border: 0;
    border-top: 1px solid;
    border-color: rgba(204, 204, 204, 0.288);
    width: 145px;
    margin: .1em 0;
    padding: 0;
}
