body {
    background: rgb(199, 199, 199);
    margin: 0;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    cursor: crosshair;
    outline: none;
    border: 1px solid;
}

#zoomlevel, #zoom-in, #zoom-out{
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

#zoomlevel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 15px;
    left: 15px;
    width: 60px;
    height: 29px;
    border: 2px solid rgba(0, 0, 0, 0.806);
    background-color: rgba(255, 255, 255, 0.492) ;
    border-radius: 10px;
    z-index: 1;
}

#zoom-in, #zoom-out {
    position: fixed;
    width: 29px;
    height: 29px;
    border: 2px solid rgba(0, 0, 0, 0.806);
    background-color: rgba(255, 255, 255, 0.492) ;
    border-radius: 10px;
    z-index: 1;
}

#zoom-in {
    top: 15px;
    left: 78px;
}

#zoom-out {
    top: 15px;
    left: 110px;
}

#rotate-left, #rotate-right {
    position: fixed;
    width: 36px;
    height: 36px;
    background: #26CE00; 
    border: 1px solid rgba(0, 0, 0, 0.806);
    border-radius: 18px;
    z-index: 1;
}

.unselectable {
    pointer-events: none;
}

.hide {
    visibility: hidden;
    pointer-events: none;
}

#addTest {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 55px;
    left: 15px;
    width: 100px;
    height: 40px;
    border: 2px solid rgba(0, 0, 0, 0.806);
    background-color: rgba(255, 255, 255, 0.492) ;
    border-radius: 10px;
    z-index: 1;
}
