@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

html
{
    font-family: 'Share Tech Mono', monospace;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#first, #second{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 10em;
    height: 6em;

}

#toprow, #middlerow, #bottomrow {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
}

#firstnumdec, #secondnumdec, #output {
    font-size: 50px;
    width: 1.5em;
    text-align: center;
    border: 1px solid rgba(128, 128, 128, 0.476);
}

#equals {
    font-size: 20px;
    margin:auto;
}
